<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a_test_in_my_head">
    <!-- 인터넷 연결 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A_test_in_my_head">
        <activity
            android:name=".DwmtGameActivity"
            android:exported="true" />
        <activity
            android:name=".DwmtSettingActivity"
            android:exported="true" />
        <activity
            android:name=".DwmtMainActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".RankActivity"
            android:exported="true" />
        <activity
            android:name=".JoinMembershipActivity"
            android:exported="true" />
        <activity
            android:name=".NBackHelp"
            android:exported="true" />
        <activity
            android:name=".GuessNumberHelp"
            android:exported="true" />
        <activity
            android:name=".DwmtHelp"
            android:exported="true" />
        <activity
            android:name=".GuessNumberMain"
            android:exported="true" />
        <activity
            android:name=".GuessNumberInGame"
            android:exported="true" />
        <activity
            android:name=".GuessNumberInGameHard"
            android:exported="true" />
        <activity
            android:name=".NBackGame"
            android:exported="true" />
        <activity
            android:name=".NBackMain"
            android:exported="true" />
        <activity
            android:name=".NBackPracticeGameSetting"
            android:exported="true" />
        <activity
            android:name=".Wrong"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".Success"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".Timeout"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>